body {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

:root{
    --deft:150px;
}
.wrapper{
    margin-top: 250px;
    perspective:1000px;
}
.cube-box{
    width: 300px;
    height: 300px;
    margin: auto;
    transform-style:preserve-3d;
}

.cube-box img{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.95;
  transition: 0.5s;
  object-fit: cover;
  border-radius: 15px;
}


.cube-box img:nth-child(1){
    transform: rotateY(0deg) translateZ(var(--deft));
}

.cube-box img:nth-child(2){
    transform: rotateY(90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(3){
    transform: rotateY(180deg) translateZ(var(--deft));
}

.cube-box img:nth-child(4){
    transform: rotateY(-90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(5){
    transform: rotateX(90deg) translateZ(var(--deft));
}

.cube-box img:nth-child(6){
    transform: rotateX(-90deg) translateZ(var(--deft));
}

.cube-box{
    animation: loops 10s linear infinite;
}

.cube-box:hover{
    --deft:300px;
    animation-play-state: paused;
}

@keyframes loops{
    0%{ transform: rotateX(0deg) rotateY(0deg); }
    100%{ transform: rotateX(360deg) rotateY(360deg); }
}

